* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;      
    font-size: 16px;
    color: black;
    text-align: center;
    font-family: "Gotham Rounded Light";
    font-weight: 700;
}
nav {
    width: 100%;
    position: fixed;
    margin: 0 auto;    
}
ul li {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    color: black;
}
a, a:active, a:link, a:visited {
    color: black;
    text-decoration: none;

}
#header, #profile, #team, #contact {
    height: 100%;
    min-height: 100%;    
}
#header {    
    width: 100%;
    height: 100%;
    background-image: url("../images/sky2.jpg");
    background-size: 100% 100%;       
    display: grid;
}
h1 {
    font-family: "Aqua Grotesque";
    font-size: 7em;
    color: rgba(0, 0, 0, 0.8);
    /* Header tengah vertical dan horizontal*/
    display: grid;
    justify-content: center;
    align-items: center;
}
h2 {
    font-family: "Aqua Grotesque";
    padding-top: 10%;
    padding-bottom: 5%;
    font-size: 5em;
}
#profile {
    background-image: linear-gradient(#04889B, #C8CECC);
}
#team {
    background-image: linear-gradient(#C8CECC, #04889B);
    display: grid;
    grid-template-areas: "head head head head head"
                         "member1 member2 member3 member4 member5";
    grid-template-rows: 1fr 2fr;                         
}
#team h2{
    grid-area: head;
}
#team img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.member1 {   
    grid-area: member1;
}
.member2 {   
    grid-area: member2;
}
.member3 {   
    grid-area: member3;
}
.member4 {   
    grid-area: member4;
}
.member5 {   
    grid-area: member5;
}
#contact {
    background-size: 100% 100%;
    background-image: url("../images/sky.jpg");
    background-size: cover;
}
/*#contact img {
    Image icon berwarna putih
    filter: brightness(0) invert(1);
}*/
.column {
    margin-top: 50px;
    float: left;
    width: 33.3%;
    height: 100px;
}
.footer {
    background-color: #04889B;
    padding: 10px 0;
}
h4  {
    font-family: "Gotham Rounded Light";
    font-size: 2em;     
}
p {
    padding-top: 10px;
    line-height: 1.5em;
    max-width: 70%;
    text-align: center;
    margin: 0 auto;
    font-size: 1.5em;
}